{% from 'address/macros.html' import address as address_macro %}

{% extends "base.html" %}

{% block title %}淘贝网 - 收货地址列表{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">首页</a></li>
		<li class="breadcrumb-item active" aria-current="page">收货地址列表</li>
  </ol>
</nav>

<div class="d-flex justify-content-end">
  <a class="btn btn-primary" href="{{ url_for('.create') }}">新增地址</a>
</div>

<div class="">
	{% for address in addresses %}
	{{ address_macro(address, editable=true) }}
	{% endfor %}
</div>
{% endblock %}
