{% extends "company/admin_base.html" %}

{% block operation %}
<a href="{{ url_for('company.admin_publish_job', company_id=company_id) }}" type="button" class="btn btn-success btn-admin">发布职位</a>
{% endblock %}

{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>职位名称</th>
      <th>企业名称</th>
      <th>发布时间</th>
      <th>状态</th>
    </tr>
    <tbody>
      {% for job in pagination.items %}
      <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.name }}</td>
        <td>{{ job.company.name }}</td>
        <td>{{ job.created_at }}</td>
        <td>
          <div class="btn-group" role="group">
            {% if not job.is_disable %}
            <a href="{{ url_for('job.disable', job_id=job.id) }}" type="button" class="btn btn-default">
              下线
            </a>
            {% else %}
            <a href="{{ url_for('job.enable', job_id=job.id) }}" type="button" class="btn btn-default">
              上线
            </a>
            {% endif %}
            <a href="{{ url_for('company.admin_edit_job', company_id=company_id, job_id=job.id) }}" type="button" class="btn btn-default">
              编辑
            </a>
            <a href="{{ url_for('company.admin_delete_job', company_id=company_id, job_id=job.id) }}" type="button" class="btn btn-default">
              删除
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>
{% endblock %}
