.form {
  width: 400px;
  margin: 0 auto;
}

a,
a:hover,
a:visited {
  cursor: pointer;
  text-decoration: none !important;
}


.course__name,
.course__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nav-pagination {
  text-align: center;
}


