<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.1.3.min.css') }}">

    {% block css %}{% endblock %}

    <title>{% block title %}Seiya 数据分析系统{% endblock %}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Seiya</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            拉勾网职位数据分析
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/job/count-top10">职位数 Top10 城市</a>
                            <a class="dropdown-item" href="/job/salary-top10">薪资 Top10 城市</a>
                            <a class="dropdown-item" href="/job/hot-tags">热门职位标签</a>
                            <a class="dropdown-item" href="/job/experience-distribution">工作经验分布</a>
                            <a class="dropdown-item" href="/job/education-distribution">学历分布</a>
                            <a class="dropdown-item" href="/job/education-city-salary">同等学历各城市之间薪资对比</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper-1.14.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='g2-3.2.7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data-set-0.8.9.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lodash-4.17.4.min.js') }}"></script>

    {% block js %}{% endblock %}
</body>

</html>