{% extends 'base.html' %}

{% block title %}Seiya 数据分析系统 － 首页{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title">拉钩网职位数据分析</h5>
                <p class="card-text">热门工作城市，薪资最高城市...</p>
                <a href="#" class="btn btn-primary">详情</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title">链家网租房数据分析</h5>
                <p class="card-text">热门租房小区，租金最贵小区...</p>
                <a href="#" class="btn btn-primary">详情</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title">点评网餐馆数据分析</h5>
                <p class="card-text">热门菜系，热门商圈...</p>
                <a href="#" class="btn btn-primary">详情</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
