.form {
  width: 400px;
  margin: 0 auto;
}

a,
a:hover,
a:visited {
  cursor: pointer;
  color: #333;
  text-decoration: none !important;
}

.nav-pagination {
  text-align: center;
  clear: both;
}

.job-list,
.company-list {
  margin-top: 15px;
}

.job-box {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.list-title {
  margin: 0 15px;
}

.company-item {
  text-align: center;
}

.header {
    padding: 0;
}

.list-more {
    text-align: center;
    margin-bottom: 50px;
}

a.list-more-btn {
    padding: 10px 138px;
	color: #5cb85c;
    background-color: #fff;
}

.footer {
  clear: both;
  border-top: 1px solid #eee;
  padding: 16px 0 24px;
  margin-top: 15px;
  color: #999;
  font-size: 14px;
 }

 .company-meta {
    color: #999;
 }

 .company-detail {
  margin: 30px 0;
  font-size: 15px;
 }

 .job-detail {
  font-size: 15px;
  margin-bottom: 50px;
 }


.job-item {
    border: 1px solid #eee;
    border-left: 5px solid #00b38a;
    padding: 15px 10px;
    margin-bottom: 15px;
}

.job-salary {
  color: #fd5f39;
}

.job-meta,
.timesince {
  color: #999;
}

.timesince {
    font-size: 12px;
}

a.dilivery-btn {
    padding: 10px 30px;
	color: #5cb85c;
    background-color: #eee;
}

.btn-admin {
	width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;
}

a.btn-admin {
    color: #5cb85c;
}
