{% extends "base.html" %}

{% block title %}
{{ job.name }}
{% endblock %}

{% block head %}
<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h2>{{ job.name }}</h2>
      <span class="timesince">{{ job.created_at | timesince }}发布</span>
      <p><span class="job-salary">{{ job.salary_low }}-{{ job.salary_high }}</span>&nbsp;经验{{ job.experience_requirement }} {% if job.experience_requirement != '不限' %}年{% endif %} 学历{{ job.degree_requirement }}</p>
    </div>
    <div class="col-md-4">
      {% if current_user.is_authenticated %}
        {% if not job.current_user_is_applied %}
          <a href="{{ url_for('job.apply', job_id=job.id) }}"class="btn btn-success btn-lg dilivery-btn">投递简历</a>
        {% else %}
          <a href="#"class="btn btn-success btn-lg dilivery-btn" disabled="disabled">已投递</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="col-md-8">
  <div class="job-detail">
    <h3>职位标签</h3> <br>
    <p>{{ job.tags }}</p>
    <br>
    <h3>职位描述</h3> <br>
    <p>{{ job.description }}</p>
  </div>
</div>
<div class="col-md-4">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img src="{{ job.company.detail.logo }}" class="media-object" height="96" width="96">
    </a>
  </div>
  <div class="media-body">
  </div>
</div>

  <h4>{{ job.company.name }}</h4>
  <p>领域：{{ job.company.detail.field }}</p>
  <p>融资：{{ job.company.detail.finance_stage }}</p>
  <p>城市：{{ job.company.detail.location }}</p>
</div>
{% endblock %}
